.customDropDown {
    width: 100%;
    text-align: left;
}

.customCaret {
    float:right;
}

body {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.playerImage{
    padding-top: 40%;
}

.infoArea{
    background-color: #e90052;
}

.playerName, .playerPosition {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    color: white;


}

.playerPosition {

    font-size: 16px;
}

.statName {
  background-color: white;
    margin-bottom: 10px;
}

.statValue{
    float: right;
    text-align: right;
}

.clubBadge{
    float:right;
}